node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
test-results
playwright-report
playwright/.cache

dist
build
.vite

.env
.env.test
.env.prod

.vscode
.idea
*.swp
*.swo
*~

.DS_Store

.git
.gitignore
.gitattributes

Dockerfile
docker-compose*.yml
.dockerignore

*.log
.cache

certbot